# Dublin House Prices by Post Code
## Part 2 - Cleaning the Data
In [Part 1](), we took a download of house price data for Dublin in 2016 from the [Property Price Register](https://www.propertypriceregister.ie/website/npsra/pprweb.nsf/page/ppr-home-en) website, and used a `Google Maps Client` to add some further detail to our data.

Now we're going to examine that data, and see if we can further fill our data set.

We pickled our data as two `pandas` data frames, one with good address (meaning, addresses for which our `Google Maps Client` gave us all the detail we wanted, and a second with those address for which our `Google Maps Client` was less successful. We'll upload them now, and look at them.

In [2]:
import pickle
import pandas as pd

with open('../library/pickle/2016/houses_dublin_2016_pickle', 'r') as f:
    good_addresses16 = pickle.load(f)
    
with open('../library/pickle/2016/bad_add_dublin_2016_pickle', 'r') as f:
    bad_addresses16 = pickle.load(f)
    
with open('../library/pickle/2015/houses_2015_pickle', 'r') as f:
    good_addresses15 = pickle.load(f)
    
with open('../library/pickle/2015/bad_add_2015_pickle', 'r') as f:
    bad_addresses15 = pickle.load(f)

In [4]:
good_addresses = pd.concat([good_addresses16, good_addresses15], ignore_index=True)
bad_addresses = pd.concat([bad_addresses16, bad_addresses15], ignore_index=True)

In [5]:
good_addresses.describe()

                Lat           Lon
count  21552.000000  21552.000000
mean      53.343354     -6.269275
std        0.060286      0.088922
min       53.193504     -6.503346
25%       53.295176     -6.323950
50%       53.340296     -6.262626
75%       53.378569     -6.208126
max       53.626983     -6.052932

In [6]:
bad_addresses.describe()

,Date,Address,PostCode,County,Price,FullMarketPrice,VAT,Description,Size,gCheck
count,6589,6589,6589,6589,6589,6589,6589,6589,6589,6589
unique,510,6525,24,2,1694,3,3,3,6,4
top,28/01/2015,"41 HARTY PLACE, CLANBRASSIL ST, DUBLIN 8",,Dublin,"252,313.00",No,No,Second-Hand Dwelling house /Apartment,,NoResponse
freq,280,3,2973,6587,138,6390,4876,4865,4865,4505

In [7]:
good_addresses.dtypes

Date                object
Address             object
PostCode            object
County              object
Price               object
FullMarketPrice     object
VAT                 object
Description         object
Size                object
Lat                float64
Lon                float64
gCheck              object
dtype: object

In [8]:
bad_addresses.dtypes

Date               object
Address            object
PostCode           object
County             object
Price              object
FullMarketPrice    object
VAT                object
Description        object
Size               object
gCheck             object
dtype: object

In [9]:
good_addresses.head()

,Date,Address,PostCode,County,Price,FullMarketPrice,VAT,Description,Size,Lat,Lon,gCheck
0,01/01/2016,"34 Mountpleasant Terrace, Dublin 6, D06 YC58, ...",D06 YC58,Dublin,"170,000.00",No,No,Second-Hand Dwelling house /Apartment,,53.328587,-6.261495,Good
1,04/01/2016,"Saggart, Co. Dublin, Ireland",,Dublin,"230,088.00",No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...,53.280840,-6.443184,Good
2,04/01/2016,"Saggart, Co. Dublin, Ireland",,Dublin,"321,586.00",No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...,53.280840,-6.443184,Good
3,04/01/2016,"2 Brighton Rd, Brighton Hall, Kerrymount, Dubl...",D18 A0C6,Dublin,"1,150,000.00",No,No,Second-Hand Dwelling house /Apartment,,53.258165,-6.174641,Good
4,04/01/2016,"Moyola Mews, Churchtown Rd Lower, Churchtown L...",,Dublin,"330,000.00",No,No,Second-Hand Dwelling house /Apartment,,53.298311,-6.253560,Good

In [10]:
bad_addresses.head()

,Date,Address,PostCode,County,Price,FullMarketPrice,VAT,Description,Size,gCheck
0,Date of Sale (dd/mm/yyyy),Address,Postal Code,County,Price (),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description,NoResponse
1,04/01/2016,"307 HAMPTON LODGE, BLOCK B, GRACE PARK RD",Dublin 9,Dublin,"315,000.00",No,No,Second-Hand Dwelling house /Apartment,,BadLat
2,05/01/2016,"21 AMBER, THE GRANGE, STILLORGAN",,Dublin,"280,000.00",No,No,Second-Hand Dwelling house /Apartment,,NoResponse
3,05/01/2016,"29 GREENVIEW, SEABROOK MANOR, STATION RD",Dublin 13,Dublin,"94,042.00",No,No,Second-Hand Dwelling house /Apartment,,NoResponse
4,05/01/2016,"5 WILLOW GROVE, GREENPARK, CLONDALKIN DUBLIN 22",Dublin 22,Dublin,"265,000.00",No,No,Second-Hand Dwelling house /Apartment,,NoResponse

#### Bad v Good Addresses
The difference between bad and good addresss is the presence of coordinates in good addresses, and the absence of coordinates in the bad data. Otherwise, the data is quite the same. Therefore, although the `coordinateCollector` program divides the two data sets, it makes sense for us to unite them here into a single data frame, `houses`. We'll add two "empty" columns to `bad_addresses` for the missing coordinates to make the join nice and even.

You'll also notice that the first line of `bad_addresses` is a repeated header row. That will have to go, of course.

In [11]:
bad_addresses.drop(0, inplace=True) # Eliminate the repeated header row.

import numpy as np
bad_addresses['Lat'] = np.nan
bad_addresses['Lon'] = np.nan
houses = pd.concat([good_addresses, bad_addresses], ignore_index=True)

In [12]:
houses.head()

,Address,County,Date,Description,FullMarketPrice,Lat,Lon,PostCode,Price,Size,VAT,gCheck
0,"34 Mountpleasant Terrace, Dublin 6, D06 YC58, ...",Dublin,01/01/2016,Second-Hand Dwelling house /Apartment,No,53.328587,-6.261495,D06 YC58,"170,000.00",,No,Good
1,"Saggart, Co. Dublin, Ireland",Dublin,04/01/2016,New Dwelling house /Apartment,No,53.280840,-6.443184,,"230,088.00",greater than or equal to 38 sq metres and less...,Yes,Good
2,"Saggart, Co. Dublin, Ireland",Dublin,04/01/2016,New Dwelling house /Apartment,No,53.280840,-6.443184,,"321,586.00",greater than or equal to 38 sq metres and less...,Yes,Good
3,"2 Brighton Rd, Brighton Hall, Kerrymount, Dubl...",Dublin,04/01/2016,Second-Hand Dwelling house /Apartment,No,53.258165,-6.174641,D18 A0C6,"1,150,000.00",,No,Good
4,"Moyola Mews, Churchtown Rd Lower, Churchtown L...",Dublin,04/01/2016,Second-Hand Dwelling house /Apartment,No,53.298311,-6.253560,,"330,000.00",,No,Good

In [13]:
houses.tail()

,Address,County,Date,Description,FullMarketPrice,Lat,Lon,PostCode,Price,Size,VAT,gCheck
28135,"APT 289, CUSTOM HOUSE HARBOUR, I F S C DUBLIN 1",Dublin,23/12/2015,Second-Hand Dwelling house /Apartment,No,NaN,NaN,Dublin 1,"313,000.00",,No,NoResponse
28136,"APT 79, IVY EXCHANGE, PARNELL ST DUBLIN 1",Dublin,23/12/2015,Second-Hand Dwelling house /Apartment,Yes,NaN,NaN,Dublin 1,"330,000.00",,No,NoResponse
28137,"17 ISLAND VILLA, LOWER GRAND CANAL STREET, DUB...",Dublin,29/12/2015,Second-Hand Dwelling house /Apartment,No,NaN,NaN,,"322,000.00",,No,NoResponse
28138,"2 CRANMER PLACE, HADDINGTON RD, DUBLIN 4",Dublin,30/12/2015,Second-Hand Dwelling house /Apartment,Yes,NaN,NaN,Dublin 4,"240,000.00",,No,NoResponse
28139,"An Grianan, Corballis, Donabate",Dublin,31/12/2015,Second-Hand Dwelling house /Apartment,No,NaN,NaN,,"120,000.00",,No,BadLat

In [14]:
houses.dtypes

Address             object
County              object
Date                object
Description         object
FullMarketPrice     object
Lat                float64
Lon                float64
PostCode            object
Price               object
Size                object
VAT                 object
gCheck              object
dtype: object

#### Tidying Some Formats
We need to convert the date and price columns to datetime and float data types, respectively. The date conversion is straight-forward. The price less so, probably due to the _latin-1_ encoding - casting `astype(float)` doesn't work. But it still can be done, of course, even if we have to go the long way around.

In [18]:
houses = houses[houses.Date != 'Date of Sale (dd/mm/yyyy)']

In [19]:
houses['Date'] = pd.to_datetime(houses['Date'], dayfirst = True)

def price_destringer(someString):
    someOtherString = ''
    for s in someString:
        if s.isdigit() or s == '.':
            someOtherString = someOtherString + s
        else:
            pass
        
    return float(someOtherString)

houses['aPrice'] = houses['Price'].apply(price_destringer)
del(houses['Price'])
houses.rename(columns = {'aPrice':'Price'}, inplace = True)
houses.dtypes

Address                    object
County                     object
Date               datetime64[ns]
Description                object
FullMarketPrice            object
Lat                       float64
Lon                       float64
PostCode                   object
Size                       object
VAT                        object
gCheck                     object
Price                     float64
dtype: object

### The Postcodes
The _PostCode_ column contains a mix of data formats - the modern XXX XXXX format; the traditional Dublin 4-style format, and blanks. We're going to use a function, `tidy_postcodes()`, to create a second postcode column, PC, that will;
1. Return the first three characters of the new post code format if the extant post code is that format;
2. Return the first three characters of the new post code format if the extant post code is of the old-style Dublin post-code format, using the easy-to_create `short_postcode_dictionary`; and
3. Return glugger, from the Irish _ubh ghliogair_, a rotten egg, if the post code is neither of the above.

The first three characters of the new post codes are called the **Eircode Routing Keys** - I am indebted to Green Party Councillor for Dún Laoghaire, Ossian Smyth, for his excellent breakdown of these Eircode Routing keys on his website [here](http://www.ossiansmyth.ie/eircode-routing-keys/).

In [20]:
import re

short_postcode_mapper = {}
for x in range(1,25):
    myKey = 'Dublin {}'.format(x)
    myValue = 'D{:02}'.format(x)
    short_postcode_mapper[myKey] = myValue
short_postcode_mapper['Dublin 6W'] = 'D06'
short_postcode_mapper['Dublin 6w'] = 'D06'

new_postcode = re.compile('[A-Z][0-9]{2}')
old_postcode = re.compile('Dublin [0-9]{1,2}')

def tidy_postcode(somePostCode):
    if re.match(old_postcode, somePostCode):
        return short_postcode_mapper[somePostCode]
    elif re.match(new_postcode, somePostCode):
        return somePostCode[:3]
    else:
        return 'glugger'
    
houses['PC'] = houses['PostCode'].apply(tidy_postcode)
houses.PC.value_counts()

glugger    11295
D15         1703
D24         1007
D07          969
D09          967
D18          939
D04          920
D12          865
D08          817
D11          762
D16          728
D13          716
D03          689
D14          633
D06          624
D05          600
A94          578
K78          558
A96          508
D01          462
D22          456
K67          234
D10          209
D02          199
K32          164
D20          151
D17          129
K36          120
K34           47
K45           36
A98           31
K56           17
A45            2
A86            2
A41            1
A42            1
Name: PC, dtype: int64

And here we have a problem - we have 4,822 addresses for which we don't have an eirKey - a frustratingly higher number than the old-style post codes that existed in the *Property Price Register* data. But not to worry - we can use Machine Learning algorithms track down some more eirKeys in [Part 3]().

In [21]:
with open('../library/pickle/houses_cleaned_after_google_2016_2015_pickle', 'w') as f:
    pickle.dump(houses, f)